<table class="table align-middle mb-0 bg-white main__table">
  <thead class="bg-light main__table__head">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Gender</th>
      <th>Education</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employeesToDisplay">
      <td>
        <p class="fw-bold mb-1 employee__table__id">
          {{ employee.id }}
        </p>
      </td>
      <td class="employee__table__name-data">
        <div class="d-flex align-items-center">
          <img
            src="{{ employee.profile }}"
            class="rounded-circle"
            alt=""
            style="width: 45px; height: 45px"
          />
          <p class="fw-bold mb-1 employee__table__name">
            {{ employee.firstname }} {{ employee.lastname }}
          </p>
        </div>
      </td>
      <td>
        <p class="fw-bold mb-1">
          {{ employee.birthdate | date : "d" }}
          {{ getMonthName(employee.birthdate | date : "M") }}
          {{ employee.birthdate | date : "yyyy" }}
        </p>
      </td>
      <td>
        <p class="fw-bold mb-1">
          {{
            employee.gender === "m"
              ? "Male"
              : employee.gender === "f"
              ? "Female"
              : "Other"
          }}
        </p>
      </td>
      <td>{{ employee.education | titlecase }}</td>
      <td class="employee__table__name-data">
        <div class="employee__table__buttons">
          <button
            class="employee__table__buttons__edit"
            (click)="editEmployeeClicked(employee)"
          >
            Edit
          </button>
          <button
            (click)="deleteEmployeeClicked(employee)"
            class="employee__table__buttons__delete"
          >
            Delete
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
