<style></style>
<h2 class="main-header__text">SDE Employee Dashboard</h2>
<div class="header">
  <h3 class="header__text">Employee Details</h3>
  <div class="search-employee">
    <input
      type="search"
      class="search-employee__input"
      placeholder="Search Employee"
      (input)="searchEmployees(searchInput.value)"
      #searchInput
    />
    <span class="fa fa-search search-employee__icon"></span>
  </div>
</div>
<div class="sidebar">
  <div class="sidebar__header">
    <img
      src="../assets/images/sde.png"
      width="100px"
      height="90px"
      class="sidebar__header__logo"
    />
    <p class="sidebar__header__text">SDE GROUPS</p>
  </div>
  <div class="sidebar__content">
    <i class="fa fa-plus sidebar__content__add-icon"></i>
    <p
      class="sidebar__content__text"
      data-toggle="modal"
      data-target="#exampleModal"
      #addEmployeeButton
    >
      Add Employee
    </p>
  </div>
</div>

<div class="download-buttons">
  <button type="button" class="download-buttons__pdf" title="Export As PDF" (click)="downloadEmployeesPdf()">
    <i class="fa fa-file-pdf-o download-buttons__pdf__icon"></i>
  </button>
  <button type="button" class="download-buttons__excel" title="Export As Excel" (click)="downloadEmployeesExcel()">
    <i class="fa fa-file-excel-o download-buttons__excel__icon"></i>
  </button>
</div>

<!-- Employee Details -->
<main class="main">
  <p class="main__no-employees-text" *ngIf="employeesToDisplay.length === 0">
    No Records Found!
  </p>
  <div
    *ngIf="employees.length > 0 && employeesToDisplay.length > 0"
    class="main__employees-table"
  >
    <app-employee
      [employeesToDisplay]="employeesToDisplay"
      (onRemoveEmployee)="removeEmployee($event)"
      (onEditEmployee)="editEmployee($event)"
    />
  </div>
  <div *ngIf="employees.length >= 6 && !setSearching">
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="changePage($event)"
    ></app-pagination>
  </div>
  <div *ngIf="employeesToDisplay.length >= 6 && setSearching">
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="changePage($event)"
    ></app-pagination>
  </div>
</main>

<!-- Modal To Enter the Employee Information -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-backdrop="static"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Enter Employee Information</h5>
        <button
          type="button"
          class="fa fa-close close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeeForm">
          <div class="modal-body__personal-info">
            <h6 class="modal-body__personal-info__text">
              Personal Information
            </h6>
          </div>
          <div class="modal-body__name">
            <div class="modal-body__name__first-name">
              <input
                type="text"
                class="form-control"
                placeholder="First Name"
                formControlName="firstname"
              />
            </div>
            <div class="modal-body__name__last-name">
              <input
                type="text"
                class="form-control"
                placeholder="Last Name"
                formControlName="lastname"
              />
            </div>
          </div>
          <div class="modal-body__personal-info__details">
            <div class="modal-body__personal-info__details__datepicker">
              <label for="datepicker" class="form-label">Birthdate</label>
              <input
                type="date"
                class="form-control"
                id="datepicker"
                formControlName="birthday"
              />
            </div>
            <div class="modal-body__personal-info__details__gender">
              <h6>Gender</h6>

              <div class="modal-body__personal-info__details__gender__checkbox">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="gender"
                    id="male"
                    value="m"
                    formControlName="gender"
                  />
                  <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="gender"
                    id="female"
                    value="f"
                    formControlName="gender"
                  />
                  <label class="form-check-label" for="female">Female</label>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body__eduction">
            <label for="education" class="form-label">Education</label>
            <select
              class="form-control modal-body__eduction__select"
              formControlName="education"
            >
              <option value="default" selected>Enter your Education</option>
              <option
                *ngFor="let option of educationOptions; let i = index"
                value="{{ i }}"
              >
                {{ option | titlecase }}
              </option>
            </select>
          </div>
          <div class="modal-body__profile-image">
            <label for="profile" class="form-label">Profile Image</label>
            <input
              type="file"
              class="form-control modal-body__profile-image__input"
              id="profile"
              #fileInput
              formControlName="profile"
              (change)="onselectFile($event)"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="modal-button"
          data-dismiss="modal"
          (click)="addEmployee()"
        >
          {{ actionButton }}
        </button>
      </div>
    </div>
  </div>
</div>
